.App{
  max-width: 100%;
  font-family: cursive;
}
.App >div{
  padding: 0 !important;
}
.menu_items_container{
  margin-left: 400px;
}
.banner-container{
 
  min-height: 700px;
  background-image: url('../public/banner.jpg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

}
.banner-container > div{
  padding: 60px;
}
.counter-container{
 
  padding: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter-container >div>h1{
  font-size: 50px;
}

.programsContainer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.programsContainer > div{
  padding: 30px;
 
  text-align: center;
  margin:20px;
  border-radius: 20px;
  background-color: rgb(233, 230, 230);
  box-shadow: 5px 5px 5px 0px lightgray; 
 
}
.program-header{
  place-items: center;
  padding:70px 0px;
}
.accreditationContainer{
  
  display: flex;
}
.accreditationContainer{
  padding-top: 30px;
 
}
.accreditionLeftContainer{
  padding: 70px;
  

}
.customButton{
  
  padding:7px 15px;
  border-radius: 50px;
  background-color: white;
}

.sliderContainer1{
  border:1px solid black;
}
.sliderContainer1>div{
  border:1px solid black;
}